
@import 'base/_variables.scss';


.pink-bg {background-color:$pink-color;}
.orange-bg {background-color:$orange-color;}
.lime-bg {background-color:$lime-color;}

.wrapper {
  background-color:$cyan-color;
 /* Basics */
}
body {
    margin: 0 !important;
    padding: 0;
    background-color: $cyan-color;
}
table {
    border-spacing: 0;
    font-family: sans-serif;
    color: #333333;
    td {
        padding: 0;
        font-family: Arial, sans-serif;
    }
}

img {
    border: 0;
}

.gutter {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*fluid image*/
.img-fluid  {
  img {max-width:100%; height:auto;}
}

.primary-color {color:#585858;}

.h1 {font-size:28px; line-height: 27px; font-weight: bold; color:$lime-color;}
.p {font-size: 12px; line-height: 17px; color:white;}
.center {margin:0 auto;}

.container {
  max-width:600px;
  width:100%;
}
/*outlook word render engine cheat*/
.o-container {
  width:600px;
}
/*gmail container expand*/
.expand-container {width:100%!important;}
/*centering block and removing the extra gap when using inline block*/
.center-inline-blocks {
  text-align: center;
  font-size: 0;
  line-height:0;
  vertical-align: top;
  
}

/*basic block inline style*/
.col-inline-4 {
  display:inline-block;
  width:100%;
  max-width:150px;
  vertical-align: top;
  text-align: left;
}

.o-col-inline-4 {
  width:150px;
  text-align: left;
}



.col-inline-6 {
  display:inline-block;
  width:100%;
  max-width:300px;
  vertical-align: top;
  text-align: left;
}

.o-col-inline-6 {
  width:300px;
  text-align: left;
}

.col-inline-4 td, .col-inline-6 td {
  text-align: left;
}



 


